body {
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 1px #fefffe;
}

body, button {
  font-family: Segoe UI, sans-serif;
  font-size: 15px;
  color: #333;
}

#buttoncontainer {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 4px;
}

button {
  padding: 0px 20px;
  background-color: #fbfbfb;
  border: 1px solid #bbb;
  margin: 0 4px;
}

button:hover {
  background-color: #ebebeb;
}

row {
  display: block;
  border-bottom: 1px solid #bbb;
  font-weight: normal;
  font-size: 15px;
  padding-left: 6px;
  padding-bottom: 8px;
  margin: 10px 0;
}

row.nounderline {
  border-bottom: none;
}

row name {
  display: inline-block;
  width: 266.8px;
}

ul {
  list-style-type: none;
}

#blacklistcontainer {
  width: 100%;
  height: 150px;
  overflow: scroll;
  margin: 0 0 10px 0;
}
