body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
}

#buttoncontainer {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 4px;
}

button {
  margin: 0 4px;
}

row {
  display: block;
  border-bottom: 1px solid #bbb;
  font-weight: normal;
  font-size: 15px;
  padding-left: 6px;
  padding-bottom: 8px;
  margin: 10px 0;
}

row.nounderline {
  border-bottom: none;
}

row name {
  display: inline-block;
  width: 266px;
}

ul {
  list-style-type: none;
}

#blacklistcontainer {
  width: 100%;
  height: 150px;
  overflow: scroll;
  margin: 0 0 10px 0;
}

inputs > label {
  padding-right: 12px;
}